    body {
      margin: 0;
      padding: 0;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #444;
    }
    /*
     * Formatting the header area
     */
    header {
      background-color: #DFB887;
      height: 35px;
      width: 100%;
      opacity: .9;
      margin-bottom: 10px;
    }
    
    
