    <!DOCTYPE html>
    <html>
      <head>
        <title>Flask app</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
      </head>
      <body>
        <header>
          <div class="container">
            <h1 class="logo">Harshi's web app</h1>
            <strong><nav>
              <ul class="menu">
                <li>Home</li>
                <li>About</li>
              </ul>
            </nav></strong>
          </div>
        </header>
        <div class="container">
          {% block content %}
          {% endblock %}
        </div>
      </body>
    </html>
