<form method="POST" action="/add">
<style type="text/css">
body{
background-image:url("https://visme.co/blog/wp-content/uploads/2017/07/50-Beautiful-and-Minimalist-Presentation-Backgrounds-05.jpg");
background-repeat:no-repeat;
}
</style>
 Title:</br><input type="text" name="title"> <button type="delete">Delete </button> </br>

 Content:</br><input type="text" name="content"><button type="delete">Delete</button></br>.

 Author:</br><input type="text" name="author"><button type="delete">Delete</button></br>

<button type="submit"> Create blog </button>
</form>


{% for blog in blogs %}

    {{blog.title}}
    {{blog.content}}
    {{blog.author}}

{%endfor%}
